<div layout="column" style="height:500px;">

  <md-sidenav-layout layout="row" flex>

    <md-sidenav #left>

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
      </md-toolbar>
      <md-content layout-padding>
        <button md-raised-button (click)="close('left')" class="md-primary" hide-gt-md>
          Close Sidenav Left
        </button>
      </md-content>

    </md-sidenav>

    <md-content flex layout-padding>

      <div layout="column" layout-fill layout-align="top center">
        <button md-raised-button (click)="open(left)" class="md-primary">
          Toggle left
        </button>

        <button md-raised-button (click)="open(right)" class="md-primary">
          Toggle right
        </button>
      </div>

      <div flex></div>

    </md-content>

    <md-sidenav #right align="end" layout="column" (open)="input.focus()">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Sidenav Right</h1>
      </md-toolbar>
      <md-content layout-padding>
        <form>
          <md-input-container class="md-block">
            <label for="testInput">Test input</label>
            <input type="text" id="testInput" md-input #input
                   [(value)]="data" md-autofocus>
          </md-input-container>
        </form>
        <button md-raised-button (click)="close('right')" class="md-primary">
          Close Sidenav Right
        </button>
      </md-content>

    </md-sidenav>

  </md-sidenav-layout>

</div>
